---
layout: base.njk
---
<div class="row my-4">
  <div class="col-md-8 offset-md-2 p-3 bg-white rounded centered">
    <div class="blog-post">
      <h1 class="blog-post-title">{{ title }}</h1>
      {{ content | safe }}
    </div>
  </div>
  <!-- /.blog-main -->

</div>