---
layout: page
title: "Page not found"
permalink: /404.html
eleventyExcludeFromCollections: true
excludeFromSitemap: true
noindex: true
---

<div class="container">
	<h1>Page not found.</h1>

	<p>Go <a href="{{ '/' | url }}">home</a>.</p>
</div><!-- end container -->
